{% extends "base.html" %}
{% load static %}

{% block style %}
<link rel="stylesheet"  href="{% static 'css/index.css' %}">
{% endblock style %}

{% block content %}
    <div class="control-panel">
        <!-- Base control buttons -->
        <div class="button-group">
            <h3>Base Control</h3>
            <button class="control-button" onclick="sendCommand('rotate_left')">
              <img src="{% static 'img/buttons/base_left.png' %}">
            </button>
            <button class="control-button" onclick="sendCommand('rotate_right')">
              <img src="{% static 'img/buttons/base_right.png' %}">
            </button>
        </div>

        <!-- Shoulder control buttons -->
        <div class="button-group">
            <h3>Shoulder Control</h3>
            <button class="control-button" onclick="sendCommand('shoulder_up')">
              <img src="{% static 'img/buttons/shoulder_left.png' %}">
            </button>
            <button class="control-button" onclick="sendCommand('shoulder_down')">
              <img src="{% static 'img/buttons/shoulder_right.png' %}">
            </button>
        </div>

        <!-- Elbow control buttons -->
        <div class="button-group">
            <h3>Elbow Control</h3>
            <button class="control-button" onclick="sendCommand('elbow_up')">
              <img src="{% static 'img/buttons/elbow_up.png' %}">
            </button>
            <button class="control-button" onclick="sendCommand('elbow_down')">
              <img src="{% static 'img/buttons/elbow_down.png' %}">
            </button>
        </div>

        <!-- Claw control buttons -->
        <div class="button-group">
            <h3>Claw Control</h3>
            <button class="control-button" onclick="sendCommand('open_claw')">
              <img src="{% static 'img/buttons/claw_open.png' %}">
            </button>
            <button class="control-button" onclick="sendCommand('close_claw')">
              <img src="{% static 'img/buttons/claw_close.png' %}">
            </button>
        </div>
    </div>
{% endblock content %}

{% block script %}
<script src="{% static 'js/index.js' %}"></script>
{% endblock script %}

