{% extends "base.html" %}
{% load static %}

{% block style %}
<link rel="stylesheet"  href="{% static 'css/index.css' %}">
{% endblock style %}

{% block content %}
<div class="video-section">
  <video id="video-stream" autoplay>
    <!-- Video stream here -->
  </video>
</div>

<div class="control-panel">
  <table>
    <tr> <!-- First row of buttons -->
      
      <!-- Base control buttons -->
      <td>
        <button class="control-button" onclick="sendCommand('rotate_left')">
          <img src="{% static 'img/buttons/base_left.png' %}">
        </button>
      </td>
      <td>
        <button class="control-button" onclick="sendCommand('rotate_right')">
          <img src="{% static 'img/buttons/base_right.png' %}">
        </button>
      </td>
      
      <!-- Shoulder control buttons -->
      <td>
        <button class="control-button" onclick="sendCommand('shoulder_up')">
          <img src="{% static 'img/buttons/shoulder_left.png' %}">
        </button>
      </td>
      <td>
        <button class="control-button" onclick="sendCommand('shoulder_down')">
          <img src="{% static 'img/buttons/shoulder_right.png' %}">
        </button>
      </td>
    </tr>
    
    <tr> <!-- Second row of buttons -->

      <!-- Elbow control buttons -->
      <td>
        <button class="control-button" onclick="sendCommand('elbow_up')">
          <img src="{% static 'img/buttons/elbow_up.png' %}">
        </button>
      </td>
      <td>
        <button class="control-button" onclick="sendCommand('elbow_down')">
          <img src="{% static 'img/buttons/elbow_down.png' %}">
        </button>
      </td>

      <!-- Claw control buttons -->
      <td>
        <button class="control-button" onclick="sendCommand('open_claw')">
          <img src="{% static 'img/buttons/claw_open.png' %}">
        </button>
      </td>
      <td>
        <button class="control-button" onclick="sendCommand('close_claw')">
          <img src="{% static 'img/buttons/claw_close.png' %}">
        </button>
      </td>
    </tr>
  </table>
</div>
{% endblock content %}

{% block script %}
<script src="{% static 'js/index.js' %}"></script>
{% endblock script %}

